{% extends "base.html" %}
{% block content %}

<style>
.expert {
  border: 1px solid lightgray;
  padding: 0.4rem;
  margin: 0.2 rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: gray;
}
</style>

<div class="profile">
  <img class="photo" src="../static/placeholderPhoto.jpg">
  <p><b>{{ profile.name }}</b></p>
  <p><b>Birthday: </b>{{ profile.birthday|date:"d M"}}</p>
  <p><b>Gender: </b>{{ profile.gender }}</p>
  <p><b>Expertise: </b>{% for ii in split_expertise %} <span class="expert">{{ ii }}</span> {% endfor %}</p>
  <p><b>Description: </b>{{ profile.description }}</p>
  <p><b>Email: </b>{{ profile.email }}</p>
</div>
{% endblock %}
