{% extends "base.html" %}

{% block content %}
  <div class="friend">
    <h1>Add Friend</h1>
    <div class="addFriend">
      <form method="POST" action="add">
        {% csrf_token %}
        {{ friend_form }}
        <button id="submit" class="postButton" type="submit">Add Friend</button>
      </form>
    </div>
    <hr>
    <div class="listFriend">
      <h1>List Friend</h1>
      {% if friends %}
      <table>
        <th>Name</th>
        <th>URL</th>
        <th>Created Date</th>
        {% for friend in friends %}
        <tr>
          <td>{{friend.name}}</td>
          <td><a href="{{friend.link}}">{{friend.link|truncatechars:90}}</a></td>
          <td>Added {{friend.created_date}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="alertNoFriend">
        <h1><strong>Oops!</strong> Tidak ada data friend.</h1>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
