{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linken's Sphere</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
  <div class="gradientHeader"></div>
  <div class="mobileNavigation" id="mobileNavigation">
    <a href="/update_status">Home</a>
    <a href="/view_profile">Profile</a>
    <a href="/add_friend">Friends</a>
    <a href="/dashboard">Dashboard</a>
  </div>
  <div class="mainContainer">
    <div class="navigationBar">
      <div class="hamburgerIcon" id="hamburgerIcon" onclick="toggleIcon()">
        <div class="hamburgerIconTop"></div>
        <div class="hamburgerIconBottom"></div>
      </div>
      <div class="logo">LINKEN'S SPHERE</div>
      <div class="navigation">
        <a href="/update_status">Home</a>
        <a href="/view_profile">Profile</a>
        <a href="/add_friend">Friends</a>
        <a href="/dashboard">Dashboard</a>
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
<script>
  function toggleIcon() {
    if (document.getElementById("hamburgerIcon").className === "hamburgerIcon") {
      document.getElementById("hamburgerIcon").className = "hamburgerIconAfter";
      document.getElementById("mobileNavigation").className = "mobileNavigationShow";
    } else {
      document.getElementById("hamburgerIcon").className = "hamburgerIcon";
      document.getElementById("mobileNavigation").className = "mobileNavigation";
    }
  }
</script>
</body>
</html>
