   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'view_profile:index' %}">Ling In</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'view_profile:index' %}#form"> Status </a></li>
            <li><a href="{% url 'view_profile:index' %}"> Profile </a> </li>
            <li><a href="{% url 'view_profile:index' %}#form"> Friends </a></li>
            <li><a href="{% url 'view_profile:index' %}"> Stats </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
