{% extends "base.html" %}
{% block content %}
<div class="profile">
  <img class="photo" src="../static/placeholderPhoto.jpg">
  <h1>{{ profile.name }}</h1>
  <h2><b>Friends:</b> {{ friendCount }}</h2>
  <h2><b>Feed:</b> {{ feedCount }} Posts</h2>
  <h2><b>Status:</b> {{ latestStatus }}
</div>
{% endblock %}