{% extends "base.html" %}

{% block content %}
<div class="status">
        <h2>What's Happening?</h2>
    <form id="form" method="POST" action="{% url 'update_status:add_message' %}">
        {% csrf_token %}
		<div class="writeStatusContainer">{{message_form}}</div>
        <button class="postButton" type="submit" >Post</button>
        <br>
    </form>
    {% if message %}
        {% for data in message %}
            <div class="statusContainer">
                <span class="date">{{data.created_date|date:"d M Y G:i:s"}}</span>
                <span>{{data.message}}</span>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %} 